.App {
  flex-direction: column;
  align-items: center;

  display: flex;

  text-align: center;
}


/* back to top arrow */
.back-to-top-button {
  position: fixed;
  z-index: 7;
  top: 20px;
  right: 20px;

  border: 3px var(--card-border) solid;
  border-radius: 50%;
  height: 50px;
  padding: 3px;

  background-color: var(--primary-color);
}

.back-to-top {
  height: 100%;
}

.site-content {
  overflow: hidden;

  margin: 0;
  margin-bottom: 60px;
  width: 100%;
}


/* picked stocks slider */
.slider {
  overflow-x: auto;

  list-style-type: none;

  margin: 0;
  border-bottom: var(--border-style);
  width: 100%;
  height: 50px;
  padding: 0;

  white-space: nowrap;
  text-align: left;
}

.picked-stock {
  display: inline-block;
  
  border-right: var(--border-style);
  height: 100%;
}

.picked-stock button {
  height: 100%;
  padding-inline: 10px;
}


/* footer */
footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  justify-content: center;

  display: flex;

  border-top: var(--border-style);
  width: 100%;
  height: 50px;

  background-color: var(--bg-color);
}

.credits-container, .credits-slide {
  flex-grow: 1;

  overflow: hidden;
  
  height: 100%;
}

@keyframes slideShow {
  0%, 40% {
    transform: translateY(0);
  }

  60%, 100% {
    transform: translateY(-100%);
  }
}

.credits-slide {
  justify-content: center;
  align-items: center;
  
  display: flex;

  animation: 10s infinite alternate slideShow;
}

.credits-slide img {
  height: 100%;
}


@media(min-width: 1000px) {
  .site-content, footer {
    width: 1000px
  }

  .back-to-top-button {
    right: calc(50% - 480px);
  }

  footer, .slider {
    border-inline: var(--border-style);
  }
}