.slideshow {
  overflow: hidden;

  margin: 0 auto;
  max-width: calc(100vw - 30px);

  background-color: var(--card-bg-color);
}

.slides-container {
  display: grid;

  transition: ease 1000ms;
}

/* slideshow dots */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  
  margin: 15px 6px 0px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 17px;

  background-color: var(--text-muted);
  cursor: pointer;
}

.slideshowDot.active {
  background-color:  var(--primary-color);
}


/* slides */
.news-slide {
  grid-row: 1;
  place-self: center;

  width: calc(100vw - 30px);
  padding: 20px;
}

.news-slide h3 {
  margin-top: 0;
}

.news-source {
  margin-inline:5px 10px;
}

.news-img {
  margin: 10px 0;
  width: 100%;
}


@media(min-width: 1000px) {
  .slideshow, .news-slide {
    width: 970px;
  }
}