/* search form for stocks */
.search-form {
  margin: 20px 0;
}

.search-input, .submit-button {
  margin-inline: 5px;
  border-radius: 5px;
}

.search-input {
  width: 180px;
  padding-inline: 10px;

  background-color: var(--dim-color);
}

.submit-button {
  padding: 5px 10px;

  background-color: var(--card-bg-color);
}


/* fluid row */
.fluid-row {
  position: relative;

  height: 0;
}

.fluid-row-content {
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  visibility: hidden;

  overflow-y: auto;

  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  will-change: opacity, visibility;

  width: 180px;

  background-color: var(--dark-buttons-bg);
}

.search-form:has(.search-input:focus) .fluid-row-content {
  opacity: 1;
  visibility: visible;
}

.searched-stock-button {
  border: var(--border-style);
  width: 100%;
  padding: 5px 10px;
  
  background-color: inherit;
}

.searched-stock-button:first-child {
  border-radius: 5px 5px 0 0;
}

.searched-stock-button:last-child {
  border-radius: 0 0 5px 5px;
}

.searched-stock-button:hover {
  background-color: var(--card-bg-color);
}