/* search form for stocks */
.search-form {
  margin: 20px 0;
}

.search-input, .submit-button {
  margin-inline: 5px;
  border-radius: 5px;
}

.search-input {
  width: 180px;
  padding-inline: 10px;

  background-color: var(--dim-color);
}

.submit-button {
  padding: 5px 10px;

  background-color: var(--card-bg-color);
}


/*search form*/
.search-form:has(.search-input:focus) .fluid-row-content {
  opacity: 1;
  visibility: visible;
}

.searched-stock-button {
  border: var(--border-style);
  width: 100%;
  padding: 5px 10px;
  
  background-color: inherit;
}

.searched-stock-button:first-child {
  border-radius: 5px 5px 0 0;
}

.searched-stock-button:last-child {
  border-radius: 0 0 5px 5px;
}

.searched-stock-button:hover {
  background-color: var(--card-bg-color);
}