/* draggable */
.draggable {
  overflow-x: scroll;
}

.draggable::-webkit-scrollbar {
  display: none;
}

.grabbed, .grabbed button { /* to overwrite button properties from index.css */
  cursor: grabbing;
}


/* stocks list */
.stocks-list {
  display: flex;

  border-bottom: var(--border-style);
  width: 100%;
}

.slider {
  flex-grow: 1;

  overflow-x: auto;
  overflow-y: hidden;

  list-style-type: none;

  margin: 0;
  height: 50px;
  padding: 0;

  white-space: nowrap;
  text-align: left;
}

.slider::-webkit-scrollbar {
  display: none;
}

.picked-stock {
  display: inline-block;
  
  border-right: var(--border-style);
  height: 100%;
}

.stock-name {
  display: inline-block;

  height: 50px;
  padding-inline: 10px;
}

.delete-stock, .delete-img {
  height: 100%;
}

.delete-img {
  pointer-events: none;
}

.deletable-stock {
  display: flex;

  height: 100%;
}


@media(min-width: 1000px) {
  .stocks-list {
    border-inline: var(--border-style);
  }
}