.card {
  height: 100px;
  padding: 10px;
  background-color: var(--card-bg-color);
  color: var(--text-muted);
  aspect-ratio: 1 / 1;
  border: grey 1px solid;
}

.card-name {
  width: 100%;
  border-bottom: grey 1px solid;
}