.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: calc(100vw - 30px);
  background-color: var(--card-bg-color);
}

.slides-container {
  display: grid;
  transition: ease 1000ms;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 17px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 6px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: var(--text-success);
}

.news-slide {
  grid-row: 1;
  place-self: center;
  width: calc(100vw - 70px);
  padding: 20px;
}

.news-slide h3 {
  margin-top: 0;
}

.news-release-info {
  /* display: flex;
  justify-content: space-around; */
}

.news-source {
  margin-inline:5px 10px;
}

.news-img {
  width: 100%;
  margin: 10px 0;
}